* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    background-color: brown;
    color: bisque;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 2rem;
    min-height: 60vh;
}
.showInfoPlus{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    text-align: center;
    justify-content: center;

}
.showInfoPlus div{
    border: 1px solid rgba(0, 0, 0, 0.342);
    justify-content: center;
    text-align: center;
}
.flag img{
   max-width: 250px;
   height: 100px;
}
.ulInfo h3{
    color: red;
}


footer {
    min-height: 10vh;
    background-color: brown;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}