@font-face {
    font-family: 'chunkfiveroman';
    src: url('../assets/chunkfive-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
*{
    box-sizing: border-box; 
}

h1 {
    font-family:'chunkfiveroman';
    padding:1rem;
}
body {
    margin: 0;
    padding: 0;
}
.content_wrapper{
font-size: 0.8rem;
}
p {
    border: 1px solid black;
    padding: 1rem;
}
     /* mi padiding depende del tamño de la letra on rems va fijo.*/

section {
    width: 83.8%;
    margin-left: auto;
    margin-right: auto;
}
section.centrada {
    font-size: 0.8rem;
    width: 83.8%;
    margin-left: auto;
    margin-right: auto;
}


.espacios  {
    
    background-color: rgb(141, 236, 149);
    margin: 1rem, 2rem;
}

.espacios:after {
    content: '';
    display: block;
    clear: both;
}

.espacios h2{
    padding: 1rem;
}
.espacios p{
    padding: 1rem;
    background: white;
   
}

.espacios p{
margin-left: 2.5%;

}
.flex  {
    margin: 1rem, 2rem;
    
    background-color: rgb(141, 236, 149)
}
.flex h2{
    padding: 1rem; 
}

.flex p{
    padding: 1rem;
    background: white;
     /*width: 30%;*/ 
     /*aqui lo puedo poner pero al ser en un flex no me hace falta decirle si el ancho es este los margenes lo otro ya lo calcula el o le doy el ancho o el margen*/ 
    margin-left: 2.5%;
    margin-right: 2.5%;

}


@media screen and (min-width:690px) {
    .espacios p{
        width: 30%;
        float: left;
       
    }
    .espacios:after {
        content: '';
        display: block;
        clear: both;
    }
    .espacios p:not(:last-of-type) {
        margin-right:0; 
    }
    .espacios p:last-of-type {
        margin-right: 2.5%;
    }
    .flex p {
        margin-left: 2.5%;
    }
    .flex p:last-of-type {
        margin-right: 2.5%;
    }
    .flex .flex-wraper{
        display:flex;
    }
    
    
}