-
    const aMenu = [
        {nombre:'Inicio', id:'index', description:'blabla'},
        {nombre:'Clientes', id:'clientes', description:'blabla'},
        {nombre:'Porfolio',id:'porfolio', description:'blabla'},
        {nombre:'partners', id:'partners', description:'blabla'}, 
        {nombre:'news', id:'news', description:'blabla'}, 
        {nombre:'Clientes', id:'clientes', description:'blabla'}, 
        {nombre:'Acerca de nosotros',id:'acerca', description:'blabla'}] 
Desactivar para: inglés
header#mainheader.mainheader 
            if(page == 1)
                h1!= titulo + icono
            else
                -let tituloFinal = titulo + ` - ` + page_title
                h1!= tituloFinal+`  ` +icono
            nav.main-menu
                ul
                    each item,index in aMenu 
                        +itemMenu(item,index)
