/* @import url(./Header.css); /* screen and (max-device-width: 500px);
@import url(./Footer.css) */  /* ejemplos de imports sin condiciones */
 

Body{
background-color: darkslategray ;
    color: rgb(224, 224, 104);
}

    /* FORMA MAS HABITUAL DE USA MEDIA QUERIES  */
@media screen and (max-device-width: 500px){
     body { background-color: rgb(77, 43, 109)}}
.morado {
    color: rgb(82, 45, 116);
}
/* p{
font-size: 1.1rem 
}
blockquote{
    font-size: 1.1rem
}
 */ es lo mismo pero grupado 
p, blockquote{
    font-size: 1.1rem
}
/*  SELECTORES COMBINADOS */

/* Selector de hijo (child) utliza como simbolo el */
/* selector de descendiente (descendent) utiliza como el simbolo el espacio */
.combinadores p{
    background-color: rgba(129, 129, 129, 0.63);
}
/* selector de hermanos (sibilins) */
/* selector de hermanos adyacentes */

/* @fontface define las fuentes 
@keyframes
@namespace
@page
@supports
@documents 
body Selector de etiqueta (todos los parrafos o todos lo que sea )
.verde selector de clase solo a esa clase que he nombrado yo class:"verde" PoEj
#verde (es para los id's pero no se usa por buenas practicas
*/