/* @import url(./Header.css); /* screen and (max-device-width: 500px);
@import url(./Footer.css) */  /* ejemplos de imports sin condiciones */
 

body{
    margin-left: 20px;
    background-color:rgb(198, 245, 179);
    color:rgb(46, 46, 46); 
    font-family: 'Times New Roman', Times, serif; 
}

.enlace{ color: rgb(26, 29, 121);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nab{list-style:none}

.imgg{padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 70px;
  
}

.img{padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 80px;
   ;
}
.cntr {
    margin: 1rem 1rem 1rem 12rem;
}
.iframe_footer {
    padding-left: 8cm;
    width: 100%;
    background-color:rgb(179, 241, 241);
    color:rgb(1, 173, 38);
    display: inline-block;
    align-content: center;
    align-items: center;

}

/* 
.pseudoelementos .medio {
    color:brown;
}
.pseudoelementos .medio::before,
.pseudoelementos .medio::after {
    content: "muy important";
    font-size: 2rem;
    font-weight: bold;
    font-family: fantasy;
    color: chartreuse;
} */

/* .pseudoelementos .medio::after,
.pseudoelementos .medio::before {
    content: "muy important";
    font-size: 2rem;
    font-weight: bold;
    font-family: fantasy;
    color: chartreuse;
} */

/* 
.pseudoelementos p::first-letter {
    font-size: 2rem;
    font-weight: bold;
    font-family: fantasy;
    color: blueviolet;
} */



    /* FORMA MAS HABITUAL DE USA MEDIA QUERIES  */
/* @media screen and (max-device-width: 500px){
     body { background-color: rgb(77, 43, 109)}}
 */

/* .morado {
    color: rgb(82, 45, 116);
} */
/* p{
font-size: 1.1rem 
}
blockquote{
    font-size: 1.1rem
}
 *//*  es lo mismo pero grupado  */
/* p, blockquote{
    font-size: 1.1rem
} */
/*  SELECTORES COMBINADOS */

/* Selector de hijo (child) utliza como simbolo el */
/* selector de descendiente (descendent) utiliza como el simbolo el espacio */
/* .combinadores p{
    background-color: rgba(129, 129, 129, 0.63); */

/* selector de hermanos (sibilins) */
/* selector de hermanos adyacentes */

/* @fontface define las fuentes 
@keyframes
@namespace
@page
@supports
@documents 
body Selector de etiqueta (todos los parrafos o todos lo que sea )
.verde selector de clase solo a esa clase que he nombrado yo class:"verde" PoEj
#verde (es para los id's pero no se usa por buenas practicas
*/