extends ../partials/layout.pug 
block variables
    -const page = 4
    -const titulo_pagina = "partners"
block main
    section#partners
         header
            h2 Partners
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id cumque asperiores veritatis provident explicabo ipsa voluptates eligendi minus quas in dolorem non tenetur nemo vitae, modi laudantium adipisci. Aut, impedit.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam sit corporis adipisci incidunt aperiam id animi officiis nesciunt itaque. Error dignissimos inventore, harum eligendi quas eum blanditiis nihil necessitatibus est.
            h3 Partner 1 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus reprehenderit molestias adipisci sapiente sit esse sequi, nam velit, doloribus quidem, inventore dignissimos animi aut corrupti dolorum reiciendis. At, optio!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex illo animi ratione possimus nisi eos perspiciatis quos dolores repellendus modi alias nesciunt repudiandae consequuntur, laborum laboriosam unde facilis nam voluptas?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores esse quidem dicta. Alias tempora saepe explicabo odit cumque repellendus consequatur libero! Voluptatem consequatur aliquam rem et quae, sunt quasi?
            h3 Partner 2
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus reprehenderit molestias adipisci sapiente sit esse sequi, nam velit, doloribus quidem, inventore dignissimos animi aut corrupti dolorum reiciendis. At, optio!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex illo animi ratione possimus nisi eos perspiciatis quos dolores repellendus modi alias nesciunt repudiandae consequuntur, laborum laboriosam unde facilis nam voluptas?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores esse quidem dicta. Alias tempora saepe explicabo odit cumque repellendus consequatur libero! Voluptatem consequatur aliquam rem et quae
            h3 Partner 3 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id accusamus reprehenderit molestias adipisci sapiente sit esse sequi, nam velit, doloribus quidem, inventore dignissimos animi aut corrupti dolorum reiciendis. At, optio!
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex illo animi ratione possimus nisi eos perspiciatis quos dolores repellendus modi alias nesciunt repudiandae consequuntur, laborum laboriosam unde facilis nam voluptas?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores esse quidem dicta. Alias tempora saepe explicabo odit cumque repellendus consequatur libero! Voluptatem consequatur aliquam rem et quae
