:root {
    --color-letra:rgb(192, 238, 26);
    --color-fondo:rgba(26, 28, 90, 0.993);
    --font-title:'Kreon', serif;
    --font-body:'Kameron', serif;
    --size-tittle: 2.5rem;
    --size-subtittle: 1.5rem;
    --size-base: calc(14rem/16);
    --sixe-small:calc(8rem/16);
    --size-tittle-section:1.5rem;

}
*{
    box-sizing: border-box;
}
/* *{
   
    padding: 0px;
    border:0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 */

a {
    color: rgb(30, 255, 0);
}


/* ***** HEADER **** */
header{
    background-color: var(--color-fondo);
    color: var(--color-letra);
    text-align: center;
    font-family: var(--font-title);
    font-style: oblique;
    padding-top: 5px;
    padding-bottom:5px;
}
header h1{
    font-family: var(--font-title);
    padding-top: 8px;
    font-size: var(--size-tittle);
}
header {}

    
    

header p{
    font-size: var(--size-subtittle);
}
.fas{ 
    color:limegreen;
 }


/* ***** BODY **** */

body{
    font-size: var(--size-base);
    line-height:1;
    font-style: var(--font-body); 
    background-color: rgba(63, 253, 212, 0.39);
    color:black;
    
}
body h2{
    font-family: var(--font-title);
    padding-bottom: 15px
}

/* ***** FOOTER **** */
footer{
    background-color: var(--color-fondo);
    color: var(--color-letra); 
    text-align:center;
    font-size: 11px;
    font-family: 'Kameron', serif;
    font-style: oblique;
}
footer address {

}
.footer p{
    
}

/* 16 px = 1 rem 
14 px = x rem 
x = 0.875 rem
 */

 /* ----- */
 /* Zona main */

 main{ 
    margin: 1.5rem 2.5rem; 
 }
 main h2{
     margin: 0.5rem;
 }

 main section{
     display: inline-block;
     width: 49.8%;
     vertical-align: top;
     padding:1rem; 
      
     
 }