:root {
    --color-letra:rgb(192, 238, 26);
    --color-fondo:rgba(26, 28, 90, 0.993);
    --color-articlefondo: rgb(182, 229, 229);
    --font-title:'Kreon', serif;
    --font-body:'Kameron', serif;
    --size-tittle: 2.5rem;
    --size-subtittle: 1.5rem;
    --size-base: calc(14rem/16);
    --sixe-small:calc(8rem/16);
    --size-tittle-section:1.5rem;
    
}
/* oara hacer un impport en la primera linea 
hago un @import url()  */
*{
    box-sizing: border-box;
}
/* *{
   
    padding: 0px;
    border:0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 */

a {
    color: rgb(30, 255, 0);
}


/* ***** HEADER **** */
header{
    background-color: var(--color-fondo);
    color: var(--color-letra);
    text-align: center;
    font-family: var(--font-title);
    font-style: oblique;
    padding-top: 5px;
    padding-bottom:5px;
}
header h1{
    text-shadow: rgb(255, 230, 0) 0.1em 0.1em 0.2em;
    font-family: var(--font-title);
    padding-top: 8px;
    font-size: var(--size-tittle);
}

    
    

header p{
    font-size: var(--size-subtittle);
}
.fas{ 
    color:limegreen;
 }


/* ***** BODY **** */

body{
    font-size: var(--size-base);
    line-height:1;
    font-style: var(--font-body); 
    background-color: rgba(100, 236, 111, 0.39);
    color:black;
    
}
h3{
    font-family: var(--font-title);
    padding-bottom: 15px
}
body h2{
    font-family: var(--font-title);
    padding-bottom: 15px
}

/* ***** FOOTER **** */
footer{
    background-color: var(--color-fondo);
    color: var(--color-letra); 
    text-align:center;
    font-size: 11px;
    font-family: 'Kameron', serif;
    font-style: oblique;
}

/* 16 px = 1 rem 
14 px = x rem 
x = 0.875 rem
 */

 /* ----- */ 
 
 /*Estilos de las secciones */
 
 section{
     margin-top: 10px;
 }
 section.float article{
     Float:left
 }


 section article{

    display: inline-block;
    width: 50%;
    background-color: var(--color-articlefondo);
    border: 3px solid var(--color-letra);
    padding-top:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
    padding-right: 1.5rem
 }

 /*  Zona class="inline-block" */

 main{ 
    margin: 1.5rem 2.5rem; 
 }
 /* main h2{
     margin: 0.5rem;
 } */
section>header {
    color: var(--color-fondo);
    background-color: darkgoldenrod;
    
}

 section.inline-block article{
     
     display: inline-block;
     width: 50%;
     vertical-align: top;
     background-color: var(--color-articlefondo);
     border: 3px solid var(--color-letra);
     box-sizing: content-box;
     box-sizing: border-box;
     margin-left: -6px;
 }


 section.inline-block article:nth-last-of-type(2) {
     margin-left: -18px;
 }
 section.float:after {
     content: '';
     display: block;
     clear: both;
}
section .table{
    display: table; 
    vertical-align: top;
} 
section .table article {
    display: table-cell;
    align-items: stretch;
}

main h3 {
    font-size: var(--size-tittle-section);
    font-weight: bold;
}
section .flex{
    display: flex;
    flex-direction: column;
}
section .flex article{
    width: 100%}

@media screen and (min-width:600px) { /* lee el codigo y al llegar a la mediaqueri aplica lo que le pedimos en la media */
    section .flex{
        display: flex;
        flex-direction: row;}}
        