doctype
html(lang=langage)
    head
        meta(charset='utf-8')
        title
    body
        header 
            h1 Esto es pug 
        section
            p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facilis quas ut expedita placeat at tenetur cumque aliquid? Numquam ex pariatur minima aliquam qui ipsa tempora impedit eligendi ipsam? Perferendis.
        footer 
            address #{autor}