-const aMenu = [{nombre:'Inicio', id:'index', description:'blabla'},{nombre:'Clientes', id:'clientes', description:'blabla'},{nombre:'Porfolio',id:'porfolio', description:'blabla'},
{nombre:'partners', id:'partners', description:'blabla'},{nombre:'Acerca de nosotros',id:'acerca', description:'blabla'}] 
header#mainheader.mainheader 
            -if(page == 1){
                h1= titulo
            -} else {
                h1 #{titulo} - #{titulo_pagina}
            -}
            nav.mainMenu
                ul
                    each item, index in aMenu 
                         +itemMenu(item, index)