
$ColorFondo: rgb(54, 121, 33);
$ColorLetra:darkgoldenrod;
$margenbase: 2rem;
@mixin sin_margenes_verticales {
    margin-top: 0;
    margin-bottom: 0;
}
@mixin ColoresInvertidos($oscuros:20,  $claro:20,) {
    background-color: darken($color: $ColorFondo, $amount: $oscuros );
    color: lighten($ColorLetra, $amount: $claro );

}
h2{@include ColoresInvertidos( 20,50 )}
.main {
    background-color:$ColorFondo;
    color: $ColorLetra;
    display: flex;
}

body{
    margin: $margenbase;
    display: grid;
    grid-template-rows: 2fr auto auto 1fr;
}
    
    .mainheader{
        @extend .main;
        justify-content: center;

        h1{
            @include sin_margenes_verticales();
            padding-top: 2rem;
            padding-bottom: 2rem;
            height:10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include ColoresInvertidos;
        }
        
    }

section .intro{
    margin: 2.6rem;
    min-height: 60vh; 

    header{
    background-color: bisque;
    color: rgb(233, 62, 62);
  }}
    @import './_parrafo.scss';

.mainfooter{
    @extend .main; /*creo un main le pongo unas clases y ahora al colocarlo qui en medio me coge esos colores margenes con solo una linea*/
        justify-content: center;
    align-items: center;
    font-size: 2rem;
    aside{
        padding: 1rem;
    }
}
