body{
    margin:0;}
    
    .main-header{
        background-color: rgb(60, 212, 14);
        color: bisque;
        h1{
            margin-top: 0;
            margin-bottom: 2;
        }
    }

section {
    margin: 2.6rem;

    header{
    background-color: bisque;
    color: rgb(233, 62, 62);
  }
}
