extends ../partials/layout.pug 
block variables 
    -const page = 1

block main
    section#inicio
        header
            h2 inicio
        p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facilis quas ut expedita placeat at tenetur cumque aliquid? Numquam ex pariatur minima aliquam qui ipsa tempora impedit eligendi ipsam?Perferendis.
        p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse rem optio eius voluptas. Maxime, nobis temporibus! Corrupti architecto beatae exercitationem sed doloremque at dolorem nobis? Ab ex facere a.
    