.return{
    display:flex;
    justify-content: center;
}
.return a{
    color:rgb(146, 3, 3);
    margin-top:1rem;
}


.formLabel{
    display:block;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:rgb(146, 3, 3);
}
.doble{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr ;
    
}


.formulario{
    display: flex;
    
}
form{
    text-align: center;
}