*{
    box-sizing: border-box;
}
/*  ************** *
       --HEADER-- 
*****************  */


body{
    margin-right: 15%;
    margin-left: 15%;
}

.topline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.432);
}   
.top_l{
    font-size: 1.2rem;
}
.top_l  a{
            text-decoration: none;
            color:rgb(146, 3, 3);
            font-weight: bold;
            letter-spacing: 1.7px;
            margin-left:1rem;
            
}
.top_r{
    font-size: 1.7rem;
}
.top_r i{
            color:rgb(146, 3, 3);
            margin-right:1rem;
        }
.tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.rus1{
    margin-top:1.6rem;
    font-family: 'Seymour One', sans-serif;

}
.rus2{
    margin-top:1.2rem;
    font-family: 'Seymour One', sans-serif;
    font-size: 1rem;
    color:rgb(25, 77, 219);
}
 .return{
     display:flex;
     justify-content: center;
 }
 .return a{
     color:rgb(146, 3, 3);
     margin-top:1rem;
 }




/* *************************  *
         ----MENU ----        
***************************   */




.menu{
    border-top: 0.07em  solid rgba(0, 0, 0, 0.432);
    border-bottom: 0.07em  solid rgba(0, 0, 0, 0.432);
  
}
    .menu ul{
    text-align: center;
}
    .menu ul li {
    display: inline;
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    }
    .menu ul li a{
    text-decoration: none;
    font-family: 'Pragati Narrow', sans-serif;
    /* color:rgb(146, 3, 3) */
    font-weight: bold;
    letter-spacing: 1.2px;
    color:rgb(146, 3, 3);
    }
    

    /* ********************* *
        ---SECCION FOTOS---
    ***********************  */
    .fotos{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
    }
    .cubo{
        display: flex;
        margin-bottom:0.3rem; 
       

    }
    .foto1{
        border: 1px solid rgba(0, 0, 0, 0.452);
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
     
    }
    .foto1 img{
        width: 100%;
        height: 100%;
    }
    .foto2{
       
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
        margin-right: 0.3rem;
    }
    .foto2 img{
        width: 100%;
        height: 100%;
    }

    .cubo2{
        display: flex;
       

    }
    .foto3{
        border: 1px solid rgba(0, 0, 0, 0.418);
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
        margin-right: 0.3rem;
    }   
    .foto3 img{
        width: 100%;
        height: 100%;
    }
    .foto4{
        border: 1px solid rgba(0, 0, 0, 0.466);
        width: 96%;
        max-width: 960px;
        margin: 0 auto;
      
    }
    .foto4 img{
        width: 100%;
        height: 100%;
    }
    /**********************************
    ------- ¿Qué ver?  --------------
    *****************************/
    .quever {
        margin-top: 3rem;
    }
    .tittle{
           
            text-align: center;  
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            font-family: 'Pragati Narrow', sans-serif;
            font-weight: bold;
            letter-spacing: 1.2px;
            color:rgb(146, 3, 3);
            margin-bottom: 0;
        }
.sub_line{
  
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border-bottom: 0.07em  solid rgba(0, 0, 0, 0.432);
   }
  
   .subtittle{
       margin-top: 0.3rem;
           font-size: 1rem;
    text-align: center;  
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:rgb(146, 3, 3);
    margin-bottom: 0;
} 
.clearfix{
    clear: both;
}
.sub_line2{
  
    max-width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    border-bottom: 0.07em  solid rgba(0, 0, 0, 0.432);
    margin-bottom:1rem;
   }
   .subb{border-bottom: 0.07em  solid rgba(0, 0, 0, 0.432);}
/******************************************
-------------- GRID VER------------

    ********************************/
.gridver{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 2fr ;
    grid-column-gap:0.2rem; 
    grid-row-gap:0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
   
}

.gridver div img{

    width: 96%;
    margin: 0 auto;
}
.cinm{
    max-width: 100%;
    height: 100%;
}

btn-escalar:hover+div{

    transform:scale(3);
}
.trans{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.34,1.84,1,-0.85);
}

/*****************************************
---------- ¿Qué comer? -----------------
**************************************/
.qcomer{
    margin-top: 3rem;
}

    .sutil{
        text-align: center;
        font-size: 1rem;
        font-style: italic;
    }
/*************************************
--------- GRID --------------------
*********************************/

section.gridfotos{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap:0.2rem; 
    grid-row-gap:0.2rem;
}
.gridparraf{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap:0.2rem; 
    grid-row-gap:0.2rem;
}
section.gridfotos div{
    display: flex;
    align-items: center;
}

section.gridfotos div img{
    
    max-width: 96%;
    margin: 0 auto;
}


    section.gridfotos2{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:0.2rem; 
        grid-row-gap:0.2rem;
    }
section.gridfotos2 div{
        display: flex;
        align-items: center;
    }

section.gridfotos2 div img:nth-of-type(1){
    
    width: 96%;
    margin: 0 auto;
 
 }
section.gridfotos4{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-column-gap:0.2rem; 
    grid-row-gap:0.2rem;
}
section.gridfotos4 div{
    display: flex;
    align-items: center;
}
section.gridfotos4 div img:nth-of-type(1){
    
    width: 96%;
    margin: 0 auto;
}
.qvt{
    font-size: 0.5rem;
}
/*****************************
------    PUBLI    ----------
*******************************/
.publi{
    display: flex;
}
.publi aside{
   margin-top:2rem;
   margin-left: 37%;
    
}
/******************************
-------Dormir  --------
******************************/
.hotelgrid{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap:0.2rem; 
    grid-row-gap:0.2rem;
}
.hotelgrid div img{

    width: 96%;
    margin: 0 auto;
}
.hotimg{
    max-width: 100%;
    height: 100%;
}
.book{
    background-image: url(../Assets/booking_logotype_blue_150x25.png);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: right
}

/******************************
------- MEDIAQUERIS   --------
******************************/

    @media screen and (max-width: 600px) {
   body{
    margin:0;
    }
  
}


@media screen and (min-width: 600px) {
   
    }
   .qvt{
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 800px) {
    .qvt{
         font-size: 0.9rem;
     }
 }
 @media screen and (min-width: 1000px) {
    .qvt{
         font-size: 1.2rem;
     }
     
 }

 div.trans{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.34,1.84,1,-0.85);
}
p.btn-escalar:hover+h3{

    transform:scale(3);
}