
//-Comentario solo pug
//comentario pug y html
-const page = 1

include ../partials/variables.pug
include ../partials/mixin.pug
include ../partials/meta.pug
body
        include ../partials/nuevoheader.pug
        main
            section#inicio
                p. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facilis quas ut expedita placeat at tenetur cumque aliquid? Numquam ex pariatur minima aliquam qui ipsa tempora impedit eligendi ipsam?Perferendis.
                p. 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit esse rem optio eius voluptas. Maxime, nobis temporibus! Corrupti architecto beatae exercitationem sed doloremque at dolorem nobis? Ab ex facere a.
        include ../partials/footer.pug