body{
    margin-right: 15%;
    margin-left: 15%;
}

.topline{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.432);
    color:rgb(146, 3, 3);
            font-weight: bold;
            letter-spacing: 1.7px;
}   