h2 {
  background-color: #12290b;
  color: #fcecc6;
}

.main, .mainfooter, .mainheader {
  background-color: #367921;
  color: darkgoldenrod;
  display: flex;
}

body {
  margin: 2rem;
  display: grid;
  grid-template-rows: 2fr auto auto 1fr;
}

.mainheader {
  justify-content: center;
}
.mainheader h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #12290b;
  color: #f3bc36;
}

section .intro {
  margin: 2.6rem;
  min-height: 60vh;
}
section .intro header {
  background-color: bisque;
  color: #e93e3e;
}

p {
  border: 2px solid chartreuse;
  padding: 1rem;
}

.mainfooter {
  /*creo un main le pongo unas clases y ahora al colocarlo qui en medio me coge esos colores margenes con solo una linea*/
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.mainfooter aside {
  padding: 1rem;
}
